body {
    margin: 20px;
    font-family: Garamond, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius: 7px;
    border: 2px solid #2b2839;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f2daa6;
    color: #2b2839;
    border: 4px solid #766040;
    border-radius: 7px;
    text-shadow: 0 0 3px #766040;
    
  
        
    /*

}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:


- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
